/*!
* Category: animation
*/

.leo-animation {
  position: relative;

  &[direction="top"] {
    .leo-animation-shove-enter {
      transform: translateY(100%);
    }
    .leo-animation-shove-leave-active {
      transform: translateY(-100%);
    }
  }
  &[direction="right"] {
    .leo-animation-shove-enter {
      transform: translateX(-100%);
    }
    .leo-animation-shove-leave-active {
      transform: translateX(100%);
    }
  }
  &[direction="bottom"] {
    .leo-animation-shove-enter {
      transform: translateY(-100%);
    }
    .leo-animation-shove-leave-active {
      transform: translateY(100%);
    }
  }

  .leo-animation-item {
    position: absolute;
  }
  & > .leo-btn {
    & + .leo-btn {
      margin-left: 0;
    }
  }
}

// shove
.leo-animation-shove-enter-active,
.leo-animation-shove-leave-active {
  transition: all @animation-time ease-in-out;
}
.leo-animation-shove-enter,
.leo-animation-shove-leave-active {
  opacity: 0;
}
.leo-animation-shove-enter {
  transform: translateX(100%);
}
.leo-animation-shove-leave-active {
  transform: translateX(-100%);
}

// fade
.leo-animation-fade-enter-active,
.leo-animation-fade-leave-active {
  transition: opacity @animation-time ease-in-out;
}
.leo-animation-fade-enter,
.leo-animation-fade-leave-active {
  opacity: 0;
}
.leo-animation-fade-enter {
  opacity: 1;
}

