/*!
* Category: button
*/

@btn-height         : 32px;
@btn-height-mini    : 24px;
@btn-height-small   : 28px;
@btn-height-large   : 36px;

// 按钮组
.leo-btn-group {
  .btnSize(@height: @btn-height) {
    &[round] {
      .leo-btn {
        &:first-child {
          border-top-left-radius: @height;
          border-bottom-left-radius: @height;
        }
        &:last-child {
          border-top-right-radius: @height;
          border-bottom-right-radius: @height;
        }
      }
    }
    &[color="primary"] {
      .btnColor(@height, @primary-color)
    }
    &[color="info"] {
      .btnColor(@height, @info-color)
    }
    &[color="success"] {
      .btnColor(@height, @success-color)
    }
    &[color="warning"] {
      .btnColor(@height, @warning-color)
    }
    &[color="error"] {
      .btnColor(@height, @error-color)
    }

    .leo-btn {
      height: @height;
      line-height: @height - 2;
    }
  }
  .btnColor(@height, @color) {
    &[bg] {
      &[shadow] {
        &[disabled] {
          .leo-btn {
            margin-bottom: 0 !important;
            box-shadow: none !important;
            height: @height !important;
            line-height: @height - 2 !important;
          }
        }

        .leo-btn {
          margin-bottom: 2px;
          height: @height - 2;
          line-height: @height - 4;
          box-shadow: 0 2px 0 0 shade(@color, 20%), 2px 5px 3px @gray-color;
        }
      }

      .leo-btn {
        color: #fff;
        background-color: @color;
        &:hover {
          z-index: 0;
          border-color: tint(@color, 25%);
          background-color: tint(@color, 25%);
        }
        &:not(:first-child) {
          border-left-color: shade(@color, 8%);
        }
        &:first-child {
          border-right-color: shade(@color, 8%);
        }
      }
    }
    .leo-btn {
      color: @color;
      height: @height;
      border-color: @color;
      line-height: @height - 2;
      &:hover {
        color: #fff;
        background-color: @color;
      }
    }
  }

  display: inline-block;
  &[dashed] {
    .leo-btn {
      border-style: dashed;
      &:hover {
        background-color: transparent;
      }
    }
  }
  &[long] {
    width: 100%;
    display: flex;
    .leo-btn {
      flex: 1;
    }
  }

  .btnSize();
  &[size="mini"] {
    .btnSize(@btn-height-mini);

    .leo-btn {
      padding: 0 10px;
    }
  }
  &[size="small"] {
    .btnSize(@btn-height-small);
  }
  &[size="large"] {
    .btnSize(@btn-height-large);
  }
  &[disabled] {
    .leo-btn {
      cursor: not-allowed;
      color: @btn-disabled-color !important;
      background-color: @body-background !important;
      border-color: tint(@btn-disabled-color, 85%) !important;
    }
  }

  .leo-btn {
    float: left;
    border-radius: 0;
    position: relative;
    &:hover,
    &.active {
      z-index: 2;
    }
    &:first-child {
      border-top-left-radius: @border-radius-small;
      border-bottom-left-radius: @border-radius-small;
    }
    &:last-child {
      border-top-right-radius: @border-radius-small;
      border-bottom-right-radius: @border-radius-small;
    }
    & + .leo-btn {
      margin-left: -1px;
    }
  }

  & + .leo-btn-group {
    margin-left: 5px;
  }
}

// 单个按钮
.leo-btn {
  .btnSize(@height: @btn-height) {
    height: @height;
    line-height: @height - 2;
    &[round] {
      border-radius: @height;
    }
    &[color="primary"] {
      .btnColor(@height, @primary-color)
    }
    &[color="info"] {
      .btnColor(@height, @info-color)
    }
    &[color="success"] {
      .btnColor(@height, @success-color)
    }
    &[color="warning"] {
      .btnColor(@height, @warning-color)
    }
    &[color="error"] {
      .btnColor(@height, @error-color)
    }
  }
  .btnColor(@height, @color) {
    color: @color;
    border-color: @color;
    &:hover {
      color: #fff;
      border-color: @color;
      background-color: @color;
    }
    &[bg] {
      color: #fff;
      background-color: @color;
    }
    &[bg]:hover {
      z-index: 0;
      border-color: tint(@color, 25%);
      background-color: tint(@color, 25%);
    }
    &[bg][shadow] {
      margin-bottom: 2px;
      height: @height - 2;
      line-height: @height - 4;
      box-shadow: 0 2px 0 0 shade(@color, 20%), 2px 5px 3px @gray-color;
      &[disabled] {
        margin-bottom: 0 !important;
        box-shadow: none !important;
        height: @height !important;
        line-height: @height - 2 !important;
      }
    }
  }

  padding: 0 15px;
  cursor: pointer;
  text-align: center;
  height: @btn-height;
  border: @border-base;
  display: inline-block;
  vertical-align: middle;
  line-height: @btn-height - 2;
  border-radius: @border-radius-small;
  transition: all @transition-time ease-in-out;
  &:hover,
  &.active {
    color: @btn-hover-color-base;
    border-color: @btn-hover-color-base;
    background-color: @btn-hover-bg-base;

    .leo-btn-icon {
      color: @btn-hover-color-base;
      &::after {
        border-top-color: @btn-hover-bg-base !important;
      }
    }
  }

  &[dashed] {
    border-style: dashed;
    &:hover {
      background-color: transparent;
    }
  }
  &[text] {
    border-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  &[long] {
    width: 100%;
  }

  .btnSize();
  &[size="mini"] {
    padding: 0 10px;
    .btnSize(@btn-height-mini);
  }
  &[size="small"] {
    .btnSize(@btn-height-small);
  }
  &[size="large"] {
    .btnSize(@btn-height-large);
  }
  &[disabled] {
    cursor: not-allowed;
    color: @btn-disabled-color !important;
    background-color: @body-background !important;
    border-color: tint(@btn-disabled-color, 85%) !important;
    &:hover {
      .leo-btn-icon {
        color: shade(@gray-color, 15%);
        &::after {
          border-top-color: @body-background !important;
        }
      }
    }
  }

  .leo-btn-icon {
    .arrows(0deg, 6px);

    top: -3px;
    position: relative;
    color: shade(@gray-color, 15%);
  }
  .leo-btn-icon[deg="90"] {
    .arrows(90deg, 6px);
  }
  .leo-btn-icon[deg="180"] {
    .arrows(180deg, 6px);
  }
  .leo-btn-icon[deg="270"] {
    .arrows(270deg, 6px);
  }
  & + .leo-btn {
    margin-left: 5px;
  }
}
