/*!
* Category: page
*/

.leo-page {
  .pageSize(@height: @height-base) {
    .leo-page-total {
      line-height: @height;
    }
  }

  display: flex;
  user-select: none;
  justify-content: flex-start;

  &[align="center"] {
    justify-content: center;
  }
  &[align="right"] {
    justify-content: flex-end;
  }

  .pageSize();
  &[size="small"] {
    .pageSize(@height-small);
  }
  &[size="large"] {
    .pageSize(@height-large);
  }

  & > * {
    transition: unset;
  }

  .leo-page-total {
    margin-right: 15px;
  }

  .leo-page-ellipsis {
    font-size: 18px;
    padding: 0 10px;
    color: @gray-color;
    vertical-align: top;
    display: inline-block;
  }

  .leo-page-sizer,
  .leo-page-elevator {
    margin-left: 15px;
  }
}

